<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css"> 
    <title>Tool Application</title>
</head>
<body>
    <div class="container1">
        <h1>Tool Application, pick a tool!</h1>
        <div class="container">
            <a href="/pomoTimer">Start a Pomodoro Timer</a>
            <a href="/todos"> New Todo List</a>
            <a href="/passwordGenerator">Open a Password Generator
        </div>
    </div>
    
</body>
</html>